:root {
    --mainColor: #000000;
    --mainColor_2: #1B1B1B;
    --accentColor: #580D7A;
    --accentColor_2: #D9D9D9;
    --accentColor_3: #FFFFFF;

    --mainFontFamily: Kanit;
    --fontWright_1: 300px;
    --fontWright_2: 400px;
    --fontWright_3: 600px;
    --fontWright_4: 800px;
}

section {
    width: 1920px;
    height: 1080px;
    margin: 0px;
    /* padding: 80px; */
}

#Home {
    background-color: var(--mainColor_2);
}

#Overview {
    background-color: var(--mainColor);
}

#WhatIOffer {
    background-color: var(--mainColor_2);
}

#Skills {
    background-color: var(--mainColor);
}




h1 {
    color: var(--accentColor_3);
}

a {
    color: var(--accentColor_3);
}


.navbar {
    height: 165px;
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    height: 60px; /* Adjust the height as needed */
    background-color: #333; /* Example background color */
  }
  
  .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Use flexbox for list items */
  }
  
  .nav-list li {
    margin: 0 10px; /* Adjust spacing between items */
  }
  
  .nav-list a {
    text-decoration: none;
    color: white; /* Text color for the links */
  }

#homepageContent {
    /* padding: 65px; */
    margin-top: 62px;
    margin-left: 116px;
    margin-right: 762px;
}

p {
    display: flex;
    width: 636px;
    height: 257px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: var(--accentColor_2);
    text-align: justify;
    font-family: Kanit;
    font-size: 44px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}


#inWhere {
    display: flex;
    width: 804px;
    height: 211px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: var(--accentColor_3);
    font-family: Kanit;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: 120px; /* 120% */
}