* {
    margin: 0;
    padding: 0;
    background-color: #1C1C1C;
    font-family: 'Kanit', sans-serif;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.navbar {
    background-color: #000000;
    padding: 40px;
    width: 100%;
    height: 100px
}

.navbar h1 {
    background-color: inherit;
    float: left;
    padding: 0 0 0 30px;
    font-size: 42px;
    font-weight: normal;
    color: #ffffff;
}

.navbar ul {
    background-color: inherit;
    text-align: right;
    margin: calc(calc(100px - 48px) / 2) 0;
}

.navbar ul li {
    background-color: inherit;
    display: inline;
    padding: 0 35px;
    font-size: 21px;
    font-weight: 300;
}

.navbar ul li a {
    background-color: #000000;
}

.navbar ul li a:hover,
.title:hover {
    color: #580D7A;
    cursor: pointer;
}


.navbar ul li a,
.title {
    transition: color .4s ease-in-out;
}