* {
    margin: 0;
    padding: 0;
    background-color: #1C1C1C;
    font-family: 'Kanit', sans-serif;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.navbar {
    background-color: #000000;
    padding: 40px;
    height: 63px;
}

.title {
    background-color: inherit;
    float: left;
    width: max-content;
    padding-left: 20px;
    font-size: 42px;
    font-weight: 600;
    color: #ffffff;
}

.navbar ul {
    background-color: inherit;
    text-align: right;
    height: 63px;
    padding: 16px 0;
    /* margin-top: calc(calc(100px - 48px) / 2);
    margin-bottom: calc(calc(100px - 48px) / 2); */
}

.navbar ul li {
    background-color: inherit;
    display: inline;
    padding: 0 35px;
    font-size: 21px;
    font-weight: 300;
}

.navbar ul li a {
    background-color: #000000;
}

.navbar ul li a:hover,
.title:hover {
    color: #580D7A;
    cursor: pointer;
}


.navbar ul li a,
.title {
    transition: color .4s ease-in-out;
}